   <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

  <form action="/cool_url" method="get">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="submit">
  </form>

   <form action="/cool_url" method="post">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="submit">
    <input type="text" name="post[title]">
<input type="text" name="post[price]">
<textarea name="post[description]"></textarea>
<select>
  <option>Milk</option>
  <option>Coffee</option>
  <option>Tea</option>
</select>
<br>
<input type="checkbox" name="option1" value="Milk"> Milk<br>
<input type="checkbox" name="option2" value="Butter" checked> Butter<br>
<input type="checkbox" name="option3" value="Cheese"> Cheese<br>
<br>
<input type="radio" name="group1" value="Milk"> Milk<br>
<input type="radio" name="group1" value="Butter" checked> Butter<br>
<input type="radio" name="group1" value="Cheese"> Cheese
<hr>
<input type="radio" name="group2" value="Water"> Water<br>
<input type="radio" name="group2" value="Beer"> Beer<br>
<input type="radio" name="group2" value="Wine" checked> Wine<br>
  </form>
